/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* .app-container {
  display: flex;
  flex-direction: row;
  font-family: 'Raleway', sans-serif;
  position: relative;

} */

 /* .logo {
  object-fit: cover;
  width: 320px;
  height: 180px;
  overflow: scroll;
  position: relative;
  align-content: center;
}  */


/* .main-div {
  background: white;
  justify-content: right;
  text-align: center;
  position: relative;
  width: 70vw;
  /* margin-right: 60px; */
  /* left: 18%;
  font-size: medium; */
  /* padding: 0px 10px; */
/* }  */
/* .filter-box{
/* width: 60%;
height: 60%; */
/* position: relative;
left: 0%;
}  */

/* .filter-img{
  position: relative;
  overflow: hidden;
  left: -10%;
} */

/* .product-div {
display: flex;
flex-wrap: nowrap;
position: relative;
text-align: center;
font-family: 'Raleway', sans-serif;
/* overflow: hidden; */
/* align-content: center;
} */ 
/* .image-wrapper {
height: 600px;
width: 800px;
justify-content: center;
position: absolute;
display: flex;
flex-direction: column;
overflow: scroll;
/* text-align: center; */
/* margin: 1rem;
}

.product-shot-img {
flex: 1;

} */ 

a {
  color: rgb(199, 115, 109);
  text-decoration: none;
}
/* .info-div {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
} */


