/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.app-container {
  display: flex;
  flex-direction: row;
  font-family: 'Playfair Display', serif;
}

.logo-div{
  width: 25%;
  height: 10%;
}

.filter-div {
  min-height: 100vh;
  min-width: 20em;
  width: 30%;
  padding: 1;
  position: relative;
}
.main-div {
  background: white;
  max-width: 30em;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.filter-box{
width: 60%;
height: 60%;
margin: 0 auto;
}

.product-div {
display: flex;
position: relative;
text-align: center;
overflow: hidden;
align-content: center;
}
.image-wrapper {
height: 200px;
width: 200px;
justify-content: center;
position: relative;
display: flex;
flex-direction: column;
overflow: hidden;
text-align: center;
margin: 1rem;
}

.product-shot-img {
flex: 1;
}

/* .product-div {
  justify-content: center;
  text-align: center;
  align-content: center;
}  */


