/* .app-container {
    display: flex;
    flex-direction: row;
    font-family: 'Playfair Display', serif;
  } */

  /* .filter-div {
    min-height: 100vh;
    min-width: 12em;
    width: 30%;
    padding: 1;
    background:#DCD4D1;
    position: sticky;
    color: #251C1A;
  }
  .main-div {
    background: white;
    max-width: 30em;
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flexbox;
  }

  .filter-box{
  width: 60%;
  margin: 0 auto;
  text-align: left;
  left: -18%;
  }
  
  .image-wrapper {
  height: 200px;
  width: 200px;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  }
  
  .image-wrapper > .product-shot-img {
    flex: 1;
    height: 100%;
  }
  
  .product-div {
    justify-content: center;
    text-align: center;
    align-content: center;

  }  */

  