.lp-logo-box {
    align-content: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* padding: 0 0 32px; */
    /* display: flex; */
    position: relative;
    overflow-x: hidden;
    left: 0%;
}

 