*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  color: #272727;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main-div{
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  width: 200px;
  vertical-align: middle;
}



.product-div {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.image-wrapper {
  display: flex;
  /* padding: 1rem; */
}

@media (min-width: 40rem) {
  .cards_item {
    width: 1000%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 50%;
  }
}

.info-div {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.card_content {
  padding: 1rem;
}


.card_text {
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
}

.product-shot-img {
  flex: 1;
  }